body{
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://static.vecteezy.com/system/resources/previews/008/311/935/non_2x/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg');
	height: 95vh;
	background-size: cover;
    background-repeat: no-repeat;
	padding: 2px
}
h1{
    color: white;
}
.header .logo{
	color: white;
}
.header .naver a{
	color: white;
	margin-top: 20px;
	padding: 30px;
	
}
.header .naver .nav-items{
	margin-right: 50px;
}
.header .naver .logo{
	margin-left: 50px;
}



.header .naver .logo{
	float: left;}

.header .naver .nav-items{
	float: right;}

a{
	text-decoration: none;
}
li{
	display: inline-block;
	font-size: 20px;}