body{
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('projectbg.jpg');
	height: 95vh;
	background-size: cover;
    background-repeat: no-repeat;
	padding: 2px
	
}
h1,h2,p{
    color: rgb(219, 205, 205);
}

.naver  a{
     color: white;
     font-size: 20px;
     
}
a{
    text-decoration: none;
    
}
